---
import AnimatedAnchor from "@/components/AnimatedAnchor.astro";
import DynamicIcon from "@/helpers/DynamicIcon";
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const { content, largeHeading } = Astro.props;

let { title, description, plans, plans_labels, discount } = (
  (await getEntry(
    "pricingSection",
    "pricing"
  )) as CollectionEntry<"pricingSection">
).data;

// Override default blog data (Title, Subtitle & Description) with props if provided
if (content) {
  ({ title, description } = content);
}
---

{
  (
    <section class="section">
      <div class="container">
        <div class="row">
          <div
            class="mx-auto text-center lg:col-8 xl:col-7"
            data-aos="fade-up-sm">
            {title && largeHeading ? (
              <h1 class="has-gradient mb-6" set:html={markdownify(title)} />
            ) : (
              <h2 class="has-gradient mb-6" set:html={markdownify(title)} />
            )}
            {description && (
              <p
                class="text-lg/[inherit] opacity-80"
                set:html={markdownify(description)}
              />
            )}
          </div>
          <div class="col-12 pt-20">
            <div class="row gx-2">
              <div
                class="col-12 pb-16"
                data-aos="fade-up-sm"
                data-aos-delay="200">
                <div class="flex items-center justify-center gap-x-3">
                  {plans_labels.map((plan, index) => (
                    <span
                      class={`select-none ${index === 0 ? "order-0" : "order-3"}`}
                      set:html={markdownify(plan)}
                    />
                  ))}
                  <label class="order-1 relative inline-block h-7 w-12 cursor-pointer rounded-full bg-secondary">
                    <span class="sr-only">Pricing Switcher</span>
                    <input
                      type="checkbox"
                      id="checkbox"
                      class="pricing-check peer w-full cursor-pointer opacity-0"
                    />
                    <span class="absolute left-0 top-0 cursor-pointer before:absolute before:left-1 before:top-1 before:h-5 before:w-5 before:translate-x-0 before:rounded-full before:bg-white before:transition-all before:delay-75 before:duration-300 peer-checked:before:translate-x-5" />
                  </label>
                  {discount && (
                    <span
                      class="order-3 rounded-full bg-white bg-gradient-to-b from-white to-dark/50 px-3 py-1 text-sm font-bold text-dark"
                      set:html={markdownify(discount)}
                    />
                  )}
                </div>
              </div>

              {plans?.map((item, index) => (
                <div
                  class="md:col-6 lg:col-4"
                  data-aos="fade-up-sm"
                  data-aos-delay={200 + index * 150}>
                  <div
                    class={`${item.active ? "active border border-border" : ""} group relative mb-12 flex min-h-full flex-col overflow-hidden rounded-lg bg-body px-8 py-12 last:mb-0 md:px-11`}>
                    <div class="flex flex-wrap items-center gap-4">
                      {item.title && (
                        <h3 class="counter h6 tracking-none">
                          <span>{markdownify(item.title)}</span>
                        </h3>
                      )}
                    </div>
                    {item.description && (
                      <p
                        class="mt-2 opacity-70"
                        set:html={markdownify(item.description)}
                      />
                    )}
                    <div class="mb-8 mt-10 flex flex-col gap-2 sm:flex-row sm:items-end">
                      {item.price_monthly && item.price_yearly && (
                        <strong class="h1 font-medium leading-[1]">
                          {markdownify(item.price_prefix)}
                          <span
                            class="data-count"
                            data-count-yearly={item.price_yearly}
                            data-count-monthly={item.price_monthly}
                            set:html={markdownify(item.price_monthly)}
                          />
                        </strong>
                      )}
                      {item.price_description_monthly &&
                        item.price_description_yearly && (
                          <>
                            <span
                              class="text-monthly opacity-70"
                              set:html={markdownify(
                                item.price_description_monthly
                              )}
                            />
                            <span
                              class="text-yearly hidden opacity-70"
                              set:html={markdownify(
                                item.price_description_yearly
                              )}
                            />
                          </>
                        )}
                    </div>

                    {item.button && item.button.enable && (
                      <AnimatedAnchor
                        className="btn-primary justify-center"
                        link={item.button.link}
                        fullWidth={true}
                        label={item.button.label}
                      />
                    )}
                    {item.features && (
                      <ul class="mt-8 flex flex-col space-y-4">
                        {item.features.map((feature) => (
                          <li>
                            <DynamicIcon
                              icon="FaCheck"
                              className="text-white inline-block mr-2.5 text-base"
                            />
                            {markdownify(feature)}
                          </li>
                        ))}
                      </ul>
                    )}

                    {/* Overlay */}
                    <div
                      aria-hidden="true"
                      class="pointer-events-none invisible absolute -right-12 bottom-0 z-0 h-[176px] w-[294px] rotate-[19deg] rounded-full from-secondary/40 from-40% via-secondary via-60% to-primary opacity-80 blur-[82px] bg-gradient-to-tr group-[.active]:visible"
                    />
                  </div>
                </div>
              ))}
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}

<script>
  function pricingInit() {
    // Select the toggle switch element
    const toggleSwitch =
      document.querySelector<HTMLInputElement>(".pricing-check");
    const numbers = document.querySelectorAll<HTMLDivElement>(".data-count");
    toggleSwitch &&
      toggleSwitch.addEventListener("change", function () {
        if (toggleSwitch.checked) {
          numbers.forEach(function (number) {
            const yearlyCount = number.getAttribute("data-count-yearly");
            if (yearlyCount) {
              number.innerHTML = yearlyCount;
              animateCounter(number, parseInt(yearlyCount, 10));
            }
          });
          toggleVisibility(".text-yearly", "d-block", "hidden");
          toggleVisibility(".text-monthly", "hidden", "d-block");
        } else {
          numbers.forEach(function (number) {
            const monthlyCount = number.getAttribute("data-count-monthly");
            if (monthlyCount) {
              number.innerHTML = monthlyCount;
              animateCounter(number, parseInt(monthlyCount, 10));
            }
          });
          toggleVisibility(".text-monthly", "d-block", "hidden");
          toggleVisibility(".text-yearly", "hidden", "d-block");
        }
      });

    function animateCounter(element: HTMLElement, endValue: number) {
      let startValue = 0;
      const duration = 250;
      let startTime: number | null = null;

      function step(currentTime: number) {
        if (!startTime) startTime = currentTime;
        const progress = currentTime - startTime;
        const value =
          Math.min(progress / duration, 1) * (endValue - startValue) +
          startValue;
        element.innerHTML = Math.ceil(value).toString();
        if (progress < duration) {
          requestAnimationFrame(step);
        }
      }

      requestAnimationFrame(step);
    }

    function toggleVisibility(
      selector: string,
      addClass: string,
      removeClass: string
    ) {
      const elements = document.querySelectorAll<HTMLElement>(selector);
      elements.forEach(function (element) {
        element.classList.add(addClass);
        element.classList.remove(removeClass);
      });
    }
  }
  document.addEventListener("astro:page-load", pricingInit);
</script>
